ErrorDocument 400 /Program_O/test/myError.php
ErrorDocument 401 /Program_O/test/myError.php
ErrorDocument 402 /Program_O/test/myError.php
ErrorDocument 403 /Program_O/test/myError.php
ErrorDocument 404 /Program_O/test/myError.php
ErrorDocument 405 /Program_O/test/myError.php
ErrorDocument 406 /Program_O/test/myError.php
ErrorDocument 407 /Program_O/test/myError.php
ErrorDocument 408 /Program_O/test/myError.php
ErrorDocument 409 /Program_O/test/myError.php
ErrorDocument 410 /Program_O/test/myError.php
ErrorDocument 411 /Program_O/test/myError.php
ErrorDocument 412 /Program_O/test/myError.php
ErrorDocument 413 /Program_O/test/myError.php
ErrorDocument 414 /Program_O/test/myError.php
ErrorDocument 415 /Program_O/test/myError.php
ErrorDocument 416 /Program_O/test/myError.php
ErrorDocument 417 /Program_O/test/myError.php
ErrorDocument 500 /Program_O/test/myError.php
ErrorDocument 501 /Program_O/test/myError.php
ErrorDocument 502 /Program_O/test/myError.php
ErrorDocument 503 /Program_O/test/myError.php
ErrorDocument 504 /Program_O/test/myError.php
ErrorDocument 505 /Program_O/test/myError.php

